.account-container {

}

.account-container {
    display: flex;        /* Flexbox 사용 아래 코드 사용하기 위함 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center;  /* 세로 중앙 정렬 */
    /* background-color: #ffffff; */
}



.account-displayContant {
    margin: 100px 30px;
    border: 1px solid rgb(53, 53, 53);
    padding: 10px 30px;
    background-color: #ffffff;
    border-radius: 5px;

    width: 1000px;
    height: 700px;
}

.account-contant-section {
    margin: 50px 0px;
}



.account-delete-account-button {
    /* border: 1px solid rgb(53, 53, 53); */
    /* background-color: #cccccc00; */
    padding: 10px 10px 10px 10px;
    margin: 0px 10px 0px 10px;
    border-radius: 5px;
    border: 0px;
    background-color: #bc1d1d;
}


.account-delete-account-button:hover {
    /* border: 1px solid #cccccc00; */   /* 테두리 */
    background-color: #a31919;
}